<html>
<head>
  <title>My Catalog</title>
  <div th:replace="'./fragments/header-files'"></div>
</head>
<body>

<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item active" aria-current="page">Catalog records</li>
  </ol>
</nav>

<div>
  <ul>
    <li th:each="record : ${records}">
      <a th:text="*{record.title}" th:href="@{'/admin/record/' + ${record.identifier}}"></a>
      (<span th:text="*{record.identifier}"></span>)
      - <a th:href="@{'/admin/record/' + ${record.identifier} + '/edit'}">edit this</a>
    </li>
  </ul>
  <p><a th:href="@{/admin/record/new}">Add a new record</a></p>
</div>

</body>
</html>
