<html>
<head>
  <title>My Catalog</title>
  <div th:replace="fragments/header-files"></div>
</head>
<body>

<div th:replace="fragments/top-bar :: main (${record}, false, false, false)"></div>

<div>
  <p>record view for <span th:text="${record.identifier}"></span></p>
  <p>title: <span th:text="${record.title}"></span></p>
  <p>description: <span th:text="${record.description}"></span></p>
  <p><a th:href="@{'/admin/record/' + ${record.identifier} + '/edit'}">edit this record</a></p>
</div>

<div th:replace="fragments/bottom-bar :: main"></div>

</body>
</html>
