<html>
<head>
  <title>My Catalog</title>
  <div th:replace="fragments/header-files"></div>
</head>
<body>

<div th:replace="fragments/top-bar :: main (null, false, false, false)"></div>

<div>
  <ul>
    <li th:each="record : ${records}">
      <a th:text="*{record.title}" th:href="@{'/admin/record/' + ${record.identifier}}"></a>
      (<span th:text="*{record.identifier}"></span>)
      - <a th:href="@{'/admin/record/' + ${record.identifier} + '/edit'}">edit this</a>
    </li>
  </ul>
  <p><a th:href="@{/admin/record/new}">Add a new record</a></p>
</div>

<div th:replace="fragments/bottom-bar :: main"></div>

</body>
</html>
