<html>
<head>
  <title>My Catalog</title>
  <div th:replace="fragments/header-files"></div>
</head>
<body>

<div th:replace="fragments/top-bar :: main (${record}, false, false, false)"></div>

<div class="container">
  <div class="card col-12 col-xl-10">
    <div class="card-body">
      <div class="text-muted small">Titre</div>
      <h5 class="card-title mb-3" th:text="${record.title}"></h5>

      <div class="row mb-3">
        <div class="col">
          <div class="text-muted small">Identifier</div>
          <div class="card-text"><code th:text="${record.identifier}"></code></div>
        </div>
        <div class="col">
          <div class="text-muted small">Kind</div>
          <p class="card-text" th:text="${record.kind}"></p>
        </div>
      </div>

      <div class="row mb-3">
        <div class="col">
          <div class="text-muted small">Created on</div>
          <p class="card-text" th:text="${record.created}"></p>
        </div>
        <div class="col">
          <div class="text-muted small">Updated on</div>
          <p class="card-text" th:text="${record.updated}"></p>
        </div>
      </div>

      <div class="text-muted small">Description</div>
      <p class="card-text" th:text="${record.description}"></p>

      <div class="d-flex justify-content-between">
        <a class="btn btn-primary" th:href="@{'/admin/record/' + ${record.identifier} + '/edit'}">
          Edit this record
        </a>
        <a class="btn btn-danger" th:href="@{'/admin/record/' + ${record.identifier} + '/delete'}">
          Delete
        </a>
      </div>
    </div>
  </div>
</div>

<div th:replace="fragments/bottom-bar :: main"></div>

</body>
</html>
