<html>
<head>
  <title>My Catalog</title>
  <div th:replace="fragments/header-files"></div>
</head>
<body>

<div th:replace="fragments/top-bar :: main (${record}, true, ${isNew}, false)"></div>

<div class="container">
  <div class="card col-12 col-xl-10">
    <div class="card-body">
      <form action="#" class="m-0"
            th:action="@{/admin/record}"
            th:object="${record}"
            method="post">

        <p class="text-danger"
             th:if="${error != null}"
             th:text="${error}"></p>

        <label class="text-muted small">Identifier</label>
        <input th:if="${isNew}"
               type="text"
               class="form-control mb-3"
               th:field="*{identifier}">
        <input th:if="!${isNew}"
               type="text"
               class="form-control mb-3"
               readonly
               th:field="*{identifier}">

        <label class="text-muted small">Titre</label>
        <input type="text" class="form-control mb-3" th:field="*{title}">

        <label class="text-muted small">Description</label>
        <textarea class="form-control mb-3" th:field="*{description}"></textarea>

        <select class="form-select mb-3" th:field="*{kind}">
          <option th:value="'DATASET'" th:text="Dataset"></option>
          <option th:value="'SERVICE'" th:text="Service"></option>
        </select>

        <button th:if="${isNew}" type="submit" class="btn btn-primary">Create record</button>
        <button th:if="!${isNew}" type="submit" class="btn btn-primary">Update record</button>
      </form>
    </div>
  </div>
</div>

<div th:replace="fragments/bottom-bar :: main"></div>

</body>
</html>
