<html>
<head>
  <title>My Catalog</title>
  <div th:replace="fragments/header-files"></div>
</head>
<body>

<div th:replace="fragments/top-bar :: main(${record}, true, ${isNew}, false)"></div>

<form action="#"
      th:action="@{/admin/record}"
      th:object="${record}"
      method="post">
  <label>Identifier
    <input type="text" th:field="*{identifier}">
  </label>
  <label>Title
    <input type="text" th:field="*{title}">
  </label>
  <label>Description
    <input type="text" th:field="*{description}">
  </label>

  <input th:if="${isNew}" type="submit" value="Create record">
  <input th:if="!${isNew}" type="submit" value="Update record">
</form>

<div th:replace="fragments/bottom-bar :: main"></div>

</body>
</html>
